@import url(http://fonts.googleapis.com/css?family=Roboto:300,100);

* {
  font-family: 'Roboto', san-serif;
  font-weight: 300;
}

table {
  width: 700px;
  height: 700px;
}

td {
  width: 33%;
  height: 33%;
  border: 1px solid blue;
  text-align: center;
  font-size: 5em;
}

td:hover {
  background-color: #3381EB;
}

#win {
  font-size: 2em;
  color: red;
  height: 30px;
}

#status {
  height: 50px;
}

#win {
  position: absolute;
}
